{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>password reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</head>
<body style="background-color: gray">
<div style="padding-top: 170px" class="form-gap"></div>
<h1 style="padding-left: 600px; color:black"><i class="fa-brands fa-space-awesome" style="color: black"></i>
    &nbspJumpstart</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default" style="border-radius: 30px">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa-solid fa-repeat fa-spin fa-lg"></i></h3>
                        <h2 class="text-center">Reset Password?</h2>
                        <p>You can reset your password here.</p>
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in field.errors %}
                                            <h6><i class="fa-solid fa-triangle-exclamation fa-shake"></i>
                                                &nbsp&nbsp{{ error }}</h6>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="panel-body">

                            <form method="post">
                                {% csrf_token %}
                                {% if validlink %}
                                    <p>Please enter your new password:</p>
                                    <div class="form-group">
                                        <label for="id_new_password1">New password:</label>
                                        <input type="password" class="form-control" id="id_new_password1"
                                               name="new_password1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_new_password2">Confirm new password:</label>
                                        <input type="password" class="form-control" id="id_new_password2"
                                               name="new_password2" required>
                                        <small id="new_password1_help"
                                               class="form-text text-muted">{{ new_password1.help_text }}</small>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                {% else %}
                                    <p>The password reset link was invalid, possibly because it has already been used.
                                        Please request a new password reset.</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
