{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>password reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</head>
<body style="background-color: lightgrey">
<div style="padding-top: 170px" class="form-gap"></div>
<h1 style="padding-left: 600px; color:black"><i class="fa-brands fa-space-awesome" style="color: black"></i>
    &nbspJumpstart</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default" style="border-radius: 30px">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa-sharp fa-solid fa-user-check fa-fade"
                               style="color: #1d7441;font-size:40px;"></i></h3>
                        <h2 class="text-center">Password Reset done</h2>
                        <p>Please click the below link to login again</p>
                        <div class="panel-body">
                            <div class="form-group">
                                <a href="{% url 'jumpstart:login' %}">
                                    <input style="text-decoration: none;" name="recover-submit"
                                           class="btn btn-lg btn-success"
                                           value="Login Here" type="submit">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>